#social
{

background-color:lightblue;
	font:40px lightblue;
	padding:15px;
	float:15px;
	color:white;
	display:block;

}
#social1
{

background-color:lightblue;
	font:20px lightblue;
	padding:15px;
	
	display:block;

}
#alllist
{
	    background-color: gainsboro;
    display: block;
    color: black;
    font: 20px black;
}