

#top
{

    background-color: lightblue;
    height: 222px;
    padding: initial;
    border-style: solid;
    border-width: 10px;
    border-bottom-color: lightblue;
    border-top-color: lightblue;
    border-left-color: #ff9900;
    border-right-color: #ff9900;
}
.topsection
{

    padding: 5px;
	color:#ffffff;
	text-shadow: 4px 4px 3px #000000;
	font:50px "snap itc";

}
.menusection
{

    padding: 5px;
	color:#ffffff;
	text-shadow: 4px 4px 3px #000000;
	font:50px "snap itc";

}
#head
{
font: bolder 75px magneto;
color:lightblue;
text-shadow: 4px 4px 4px #ff9900;
margin:left;
}
#search
{
width:260px;
height:25px;
	border-radius:5px;
	box-shadow: 3px 3px 3px #778899;
	float:right;
	margin:5px;
}
#menu
{
float: right;
    width: 1300px;
    opacity: 0.9;
    margin: 30px auto;
    background-color: #ff9900;
    border-radius: 5px;
    padding: 6px;
    height: 80px;
    background-size: 100% 100%;

}

#menu ul
{
margin:0px;
padding:0px;
line-height:50px;
}

#menu li
{
	margin:5px;
	padding:0px;
	width:150px;
	list-style:none; 
	float:left;
	position:relative;
}
#menu ul li a
{
	text-align:center;
	font:bold 20px times new roman;
	text-decoration:none;
	height:55px;
	width:110px;
	display:block; 
	color:lightblue;
}
11#main2
{
background-color:lightblue;
	font:30px lightblue;
	padding:5px;
	color:white;
	display:block;
}	




#menu ul ul
{
	position:relative;
	visibility:hidden;
	top:-20px;
}
#menu ul li:hover ul
{
	visibility:visible;
}


#menus1
{
	border:5px solid;
	border-radius:5px;
	background-color:#ff9900;
	box-shadow: 5px 5px 5px #ffffff;
	
	
	}
#menu ul li a:hover
{
	color:#FFCC00;
	font:bold 30px times new roman;
	
}

#menu li:hover
{
	color:#000000;
}

#upper
{
	
    background-image: url("payroll_images.png");
    margin: 15px auto;
    background-size: 100% 100%;
    overflow: auto;
    background-position: 30% 20%;
}
#upper3
{
 width: 500px;
    height: 300px;
   
	float:right;
}
#upper2
{
	background:linear-gradient(to right, rgba(0,0,0,00.2) 10%,rgba(255,255,255,0.2));
	color:black;
	overflow:auto;
}
#frndz
{
	margin-left:320px;
	font:60px "Snap ITC";
}
#para
{
	margin-top:300px;
	text-align: left;
	float:300px;
	width:1100px;
	font:30px "comic sans ms";
}
#para1
{
	margin-top:-75px;
	text-align: justify;
	float:50px;
	width:300px;
	font:20px "comic sans ms";
}
#para:hover
{
	width:1150px;
	color:lightblue;
	font:32px "comic sans ms";
	transition:width 0.5s,font 0.5s;
}

#para:hover
{
	transition-timing-function:ease-in;
}

#line
{
	    background-color: #ff9900;
    font: 40px lightblue;
    padding: 15px;
    color: lightblue;
    margin: -19px auto;
}

#line:hover
{
	background-color:lightblue;
	font:45px "magneto";
	padding:5px;
	transition:font 1s, background-color 2s;
	color:#ff9900;
}
#info
{

	margin: 10px;
    padding: 0px;
    border: 1px solid #0000ff;
    height: 500px;
	width:1000px;
    position:relative;
	background-size:cover;
    float: left;
    text-align: center;

}
#social
{

background-color:lightblue;
	font:40px lightblue;
	padding:5px;
	color:white;
	display:block;

}















































